name: Sync to GitLab

on:
  push:
    branches:
      - '**'  # sync all branches

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      
      - name: Push to GitLab
        run: |
          git remote add gitlab https://oauth2:${{ secrets.GITLAB_TOKEN }}@gitlab.com/lihogloglo/openmw-dev.git
          git push gitlab --all --force
          git push gitlab --tags --force